[user]
	name = Sven Kõiv
	email = 
[includeIf "gitdir:~/projects/"]
	path = .gitconfig_work
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[alias]
	b = branch -vv
  l  = log -8 --graph --oneline --decorate
 	s  = !git status -sb
  ll = log --stat --decorate --source -p
